<!DOCTYPE html>
<html>
  <head>
    <title>Votes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <% if (isLoggedIn) { %>
      <a href="/logout">logout</a>
    <% } else { %>
      <a href="/login">login</a>
    <% } %>
    <h1>투표 목록 페이지</h1>
    <h2>전체 투표 목록입니다.</h2>
    <a href="/votings/new">new vote</a>
    <a href="/my-votings">my vote</a>
    <div class="voteContainer">
      <% votes.forEach(function(vote){ %>
        <a class="vote" href=<%= "/votings/"+vote._id %>>
          <div class= voteContents>
            <%- include("showingVote", {vote: vote}); %>
          </div>
        </a>
      <% }); %>
    </div>
  </body>
</html>
