<!DOCTYPE html>
<html>
  <head>
    <title>VoteSuccess</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>투표 생성이 완료 되었습니다.</h1>
    <a href="/">투표 목록 돌아가기</a>
  </body>
</html>
