body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  margin-bottom: 10px;
  color: #00B7FF;
}

.voteContainer {
  width: 600px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.vote {
  border: 1px solid black;
  margin: 10px;
}
